{{block "content" .}}
<h2 class="content-subhead">Voters</h2>
{{if .Voters}}
    <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Weight</th>
        </tr>
        </thead>
    {{range $i, $voter := .Voters}}
        <tr>
            <td>{{inc $i}}</td>
            <td>{{$voter.Name}}</td>
            <td>{{$voter.Weight}}</td>
        </tr>
    {{end}}
    </table>
{{else}}
    No voters yet.
{{end}}
{{end}}